*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33ae583f;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    border: 10px solid rgb(8, 118, 10);
    max-width: 90%;
    width: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #33ae58;
    padding: 30px;
}

.classe-pokemon{
    background-color: rgb(8, 118, 10);
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 14px;
    padding: 5px;
    color: #fff;
}

.nome-pokemon{
    background-color: rgb(8, 118, 10);
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 14px;
    padding: 5px;
    color: #fff;
}

.container-skills{
   display: flex;
   justify-content: space-between; /* Ensure it's set to space-between */
   align-items: center;
   text-align: center;
   flex-wrap: wrap;
   width: 90%;
   gap: 20px;
}

.foto-pokemon{
    border: 5px solid rgb(8, 118, 10);;
    border-radius: 100%;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff9a;
}

.foto-pokemon img{
    height: 180px;
    width: 280px;
}



.content-skills{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid rgb(8, 118, 10);;
    background-color: #AEDFBD;
    padding: 10px;
    width: 380px;
    font-size: 36px;
    height: 220px;
    border-radius: 15px;
}

.descricao-pokemon{
    border: 5px solid rgb(8, 118, 10);;
    background-color: #AEDFBD;
    text-align: center;
    padding: 10px;
    width: 320px;
    font-size: 22px;
    border-radius: 15px;
}

.descricao-pokemon ul li{
    text-decoration: none;
    list-style: none;
   
}

.inputs label{
    font-size: 25px;
    color: #fff;
    font-weight: 800;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    width: 90%;
    border-radius: 14px;

}


.inputs input{
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    width: 250px;
    border: none;
    box-shadow: 0,0,0,0;
    outline: 0
}

.inputs button{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 100%;
    border: none;
    outline: 0;
    cursor: pointer;
}

.btnLupa{
    background-color: transparent;
    margin-right: 30px;
    margin-top: 8px
}


.lupa{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 100%;
    border: none;
    outline: 0;
    cursor: pointer;
}

.lupa:hover{
    transform: scale(1.2);
}

.notFound{
    text-align: center;
    margin: auto;
}

.notFound p{
    font-size: 30px;
    color: red;
    font-weight: 900;
}

.pokebola {
    width: 40px;
    height: 40px;
}

.pokebola:hover{
    transform: scale(1.2);
}

@media(max-width: 970px){
    .container-skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container{
        height: calc(100vh + 400px);
    }
    .classe-pokemon{
        font-size: 20px;
    }
}